@import './_reset.scss';
.app{
    position: relative;
    height: 80vh;
    width: 80vw;
    background-color: rgb(246, 242, 242);
    .top-section-app{
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: royalblue;
        font-size: 24px;
        .textTask{
            border-radius: 5px;
            min-height: 40px;
            width: 90%;
        }   
    }
}

.fa-solid{
    padding-left: 25px;
    color: #fff;
    font-size: 40px;
}